
<div class="container mt-4">
    <h2>RxJS WebSocket Usage Example</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Symbol</th>
            <th>Bid Price</th>
            <th>Bid Quantity</th>
            <th>Ask Price</th>
            <th>Ask Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ socketData?.s }}</td>
            <td [ngClass]="getColorClass(socketData?.b)">{{ socketData?.b }}</td>
            <td [ngClass]="getColorClass(socketData?.B)">{{ socketData?.B }}</td>
            <td [ngClass]="getColorClass(socketData?.a)">{{ socketData?.a }}</td>
            <td [ngClass]="getColorClass(socketData?.A)">{{ socketData?.A }}</td>
        </tr>
        </tbody>
    </table>
</div>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">© {{date | date:'yyyy'}} Oğuzhan ÇART. All rights reserved.</span>
    </div>
</footer>

